---
import "../styles/about.css";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <MainHead title="About | Arseniy Kotov" description="About Arseniy Kotov" />
  </head>
  <body>
    <Nav />
    <div class="wrapper imageWrapper">
      <h1>About Arseniy</h1>
      <div class="heroImg">
        <img class="image" src="../../assets/slackPic.png" />
      </div>
      <div class="bio wrapper">
        <p>Hello! My name is Arseniy.</p>
        <p>
          I live to solve customer problems and create new out-of-the-box
          solutions. I'm a software developer with a passion for customer-driven
          front-end development.
        </p>
        <p>
          From my time when I interned at NASA as a Computational Fluid Dynamics
          engineer and later worked on satellites at Space Systems Loral,
          developing software for satellites, developing software has always
          been a passion of mine. Through my work designing interfaces and
          building software for the web, I believe in the user experience and
          strive to make it as easy as possible for people to do what they want.
        </p>
        <p>
          I'm a developer who loves to make beautiful things. I have written,
          developed, and architected multiple large-scale customer-facing
          products throughout my professional career. I strive to make the world
          more connected through technology.
        </p>
      </div>
    </div>
    <Footer />
  </body>
</html>
