---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import ExperiencesPreview from "../components/ExperiencesPreview.astro";

const experiences = (await Astro.glob("./experiences/*.md")).sort(
  (a, b) =>
    new Date(b.frontmatter.start).valueOf() -
    new Date(a.frontmatter.end).valueOf()
);
---

<html lang="en">
  <head>
    <MainHead
      title="All Experiences | Arseniy Kotov"
      description="Learn about Arseniy Kotov's accomplishments and experience."
    />
    <style>
      .grid {
        display: grid;
        grid-gap: 3rem;
      }
      .title {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1 class="title">All Projects and Experience</h1>
      <div class="grid">
        {
          experiences.map((experience) => (
            <ExperiencesPreview experience={experience} />
          ))
        }
      </div>
    </div>
    <Footer />
  </body>
</html>
